body{
	font-family: 'Nunito', sans-serif;
	overflow-x: hidden;
}
section{
	padding-top: 60px;
	padding-bottom: 60px;
}
.banner{
	height: 80vh;
	width: 100%;
	font-family: 'Nunito', sans-serif;
	display: grid;
	grid-template-columns: 60% 40%;
}
.conten_title{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.conten_title h1{
	font-size: 4.5rem;
	font-weight: bold;
}
.nav-item{
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn-general{

}
.figure img{
	width:90%;
	right: 50%; 
	
}
.subtitle_banner p{
	font-size: 26px;
}
.nav-item a {
	color: black;
}
.image-banner{
	background-image: url(../images/shape-banner.png);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 662px;
	height: 100%;
	z-index: -1;
	position: absolute;
	left: 64%;
	top: -113px;
}
.title_content h1{
	text-align: center;
	padding-bottom: 30px;
}
.main-services__grid{
	display: grid;
	grid-template-columns: 39% 39%;
	grid-gap: 35px;
}
.content-print img{
	width: 64px;
}
.cards{
	display: grid;
	grid-template-columns: 20% 75%;
	width: 100%;
	padding: 20px;
	align-items: center;
	border-radius: 5%;
	box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
} 
.cards-body h5{
	font-size: 20px;
	font-weight: bold;
}
.cards-text{
	font-size: 15px;
}
.content_capa{
	background-image:url(../images/Capa7.png);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 76vh;
	background-size: cover;
	position: relative;
}
.panel-title_inner{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
}
.botn-general{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:white;
	padding: 15px;
	color: #ff477b;
	border-radius: 10px;
	transition: .5s;
}
a.botn-general{
	text-decoration: none;
	color: #ff477b;
}
.mask{
	background: #5f47ff30;
	position: absolute;
	width: 100%;
	height: 76vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}		